{% extends "base.html" %}
{% block title %}corrcloudwatch{% endblock %}
{% block content %}

<script src="{{url_for('static', filename='js/index.js') }}"></script>

<form name="form-metrics" action="/" method="POST">
    <div class="card">
        <button type="button" class="btn btn-outline-info" data-toggle="collapse"
                data-target="#last_select_metrics">前回値
                <i class="far fa-caret-square-down"></i>
            </button>
        <div class="card-body collapse" id="last_select_metrics">
            {% for item in select_metrics %}
            <p>{{ item }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label class="col-form-label">間隔</label>
                <select class="form-control" name="period" required>
                    <option value="300">5分</option>
                    <option value="900">15分</option>
                    <option value="3600">1時間</option>
                    <option value="86400">1日</option>
                </select>
            </div>
            <div class="col">
                <label class="col-form-label">統計(メトリクス事に指定可能)</label>
                <select class="form-control" name="statistics" required>
                    <option value="Average">平均</option>
                    <option value="Maximum">最大</option>
                    <option value="Minimum">最小</option>
                    <option value="Sum">合計</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="col-form-label">開始日時</label>
            <input type="text" name="start_datetime" class="form-control" placeholder="YYYY-MM-DD HH:mm">
        </div>
        <div class="col">
            <label class="col-form-label">終了日時</label>
            <input type="text" name="end_datetime" class="form-control" placeholder="YYYY-MM-DD HH:mm">
        </div>
        <div class="col">
            <label class="col-form-label">相対値</label>
            <div>
                <button type="button" class="btn btn-outline-info" onclick="set_relative_date('days');">1日</button>
                <button type="button" class="btn btn-outline-info" onclick="set_relative_date('week');">1週間</button>
                <button type="button" class="btn btn-outline-info" onclick="set_relative_date('month');">1ヶ月</button>
                <button type="button" class="btn btn-outline-info" onclick="set_relative_date('years');">1年</button>
            </div>
        </div>
    </div>
    <div class="form-group" name="select-metrics">
        <div class="row">
            <div class="col-2">
                <label class="col-form-label" style="float:inline-end;">メトリクス</label>
            </div>
            <div class="col-6">
                <label class="col-form-label" style="color: gray">フィルターなしで{{ list_metrics_count }}件選択可能</label>
            </div>
        </div>
        <input class="form-control metrics" name="metrics_filter" placeholder="メトリクスフィルタ">
        <button type="button" class="btn btn-outline-info" onclick="filter_metrics();"><i class="fa fa-filter"
                aria-hidden="true"></i></button>
        <progress id="progress" max="100" value="70" hidden> 70% </progress>
        <div class="form-group">
            <select class="form-control metrics" name="list_metrics" autofocus>
                <option>-----メトリクスを選択-----</option>
                {% for item in list_metrics %}
                {% if not item['Dimensions']  %}
                <option value="{{ item['Namespace'] }},{{ item['MetricName'] }}">
                    {{ item['Namespace'] }},{{ item['MetricName'] }}
                </option>
                {% endif %}
                {% for item_dim in item['Dimensions'] %}
                <option
                    value="{{ item['Namespace'] }},{{ item['MetricName'] }},{{ item_dim['Name'] }}={{ item_dim['Value'] }}">
                    {{ item['Namespace'] }},{{ item['MetricName'] }},{{ item_dim['Name'] }}={{ item_dim['Value'] }}
                </option>
                {% endfor %}
                {% endfor %}
            </select>
            <button type="button" class="btn btn-outline-info" onclick="add_metrics();"><i class="fa fa-plus"
                    aria-hidden="true"></i> 追加</button>
            <a class="btn btn-outline-info" href="getlistmetrics" role="button">再取得</a>
        </div>
    </div>
    <!-- 選択したメトリクスがここに列挙される -->
    <div class="card">
        <div class="card-header">選択済メトリクス</div>
        <div class="card-body" name="target_metrics_group">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="return run_corr();">相関分析</button>
    </div>
</form>
{% endblock %}
